{% extends '../layout.html' %}
{% load static %}
{% block content %}
<div class="content-section">
    <img src="{% static 'assets/image/fondo.png' %}" alt="" style="width: 100%;;">
    <br>
    <div id="label"></div>
    <h2 style="text-align: center;" class="mt-5" id="diplomas">Diplomas</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="boton" class="btn btn-primary btn-sm mb-2">Cargar archivo</button>
    </form>
    <div id="overlay">
        <p id="loading-text"></p>
    </div>



</div>
<script>
    function showOverlay() {
        document.getElementById("overlay").style.display = "block";
    }

    function hideOverlay() {
        document.getElementById("overlay").style.display = "none";
    }
    var messages = [
        "Armando cohete espacial",
        "Subiendo archivos a la NASA",
        "Descargando archivos de dinosaurios",
        "Buscando señal extraterrestre",
        "Entrenando monos para misiones espaciales",
        "Revisando gravedad cero",
        "Programando robots exploradores",
        "Calculando trayectorias interplanetarias",
        "Preparando trajes espaciales",
        "Comprobando sistemas de soporte vital"
    ];

    var acciones = [
        "Generando Diplomas",
        "Subiendo Diplomas",
        "Leyendo Encuestas",
        "Generando Informe",
        "Subiendo informe"
    ]

    var messageIndex = 0;
    var messageText = "";
    var intervalId;
    var contador = 0
    function typeMessage() {
        document.getElementById("diplomas").style.display = "none";
        showOverlay()
        if (messageIndex < messages.length) {
            messageText = messages[messageIndex];
            var messageElement = document.getElementById("loading-text");
            var acc = document.getElementById("label");
            acc.innerHTML = acciones[contador]
            contador++
            messageElement.innerHTML = "";
            var i = 0;
            intervalId = setInterval(function () {
                if (i < messageText.length) {
                    messageElement.innerHTML += messageText.charAt(i);
                    i++;
                } else {
                    clearInterval(intervalId);
                    messageIndex++;
                    setTimeout(typeMessage, 2000);
                }
            }, 100);
        }
    }
    document.getElementById("boton").addEventListener("click", function () {
        // Obtener el campo de entrada de archivos
        var fileInput = document.getElementById("id_archivo");

        // Verificar si el campo de entrada de archivos tiene un archivo cargado
        if (fileInput && fileInput.files && fileInput.files.length > 0) {
            // Si hay archivos cargados, realizar la acción
            typeMessage();
        }
    });
    hideOverlay()
    document.getElementById("diplomas").style.display = "block";

</script>
{% endblock %}