{% extends '../layout.html' %}
{% load static %}
{% block content %}
<div class="content-section">
    <img src="{% static 'assets/image/fondo.png' %}" alt="" style="width: 100%;;">
    <br>
    <h2 style="text-align: center;">Diplomas</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="boton">Cargar archivo</button>
    </form>
    <div id="overlay"></div>

</div>
<script>
    function showOverlay() {
        document.getElementById("overlay").style.display = "block";
    }

    function hideOverlay() {
        document.getElementById("overlay").style.display = "none";
    }

  // Llamamos a showOverlay() cuando el usuario hace clic en un botón o enlace que carga algo.
  // Llamamos a hideOverlay() cuando la carga ha terminado (por ejemplo, cuando se completa una petición AJAX).
</script>
{% endblock %}