{% extends '../layout.html' %}
{% block content %}
<div class="content-section ">
    <!-- modificar para bodegas -->
    <a href="{% url 'addBodega' %}" class="btn btn-success btn-sm mb-2">Añadir</a>

    <table class="table table-striped table-bordered table-hoved table-dark table-responsive"
        style="table-layout: fixed;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Nombre</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for bodega in bodegas %}
            <tr style="cursor:pointer;cursor: hand;">
                <th scope="row">{{bodega.id}}</th>
                <th scope="row">{{bodega.nameWarehouse}}</th>
                <th scope="row"><a href="{% url 'deleteBodega' bodega.id %}"
                        class="btn btn-success btn-sm mb-2">Borrar</a>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}