{% extends '../layout.html' %}
{% block content %}
<div class="content-section ">
    <!-- modificar para bodegas -->

    <div class="row">
        <div class="col-md-8">
            <h2>Bodegas</h2>
        </div>
        <div class="col-md-4 text-right">
            <a href="{% url 'addBodega' %}" class="btn btn-success btn-sm mb-2">Añadir</a>
            <a class="btn btn-danger btn-sm mb-2"
                href="{% url 'previous_view' %}?prev={{ request.resolver_match.url_name }}">Volver</a>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hoved table-dark table-responsive text-center"
        style="table-layout: fixed;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Nombre</th>
                <th scope="col">Borrar</th>
                <th scope="col">Actualizar Nombre</th>

            </tr>
        </thead>
        <tbody>
            {% for bodega in bodegas %}
            <tr style="cursor:pointer;cursor: hand;">
                <th scope="row">{{bodega.id}}</th>
                <th scope="row">{{bodega.nameWarehouse}}</th>
                <th scope="row"><a href="{% url 'deleteBodega' bodega.id %}"
                        class="btn btn-success btn-sm mb-2">Borrar</a>
                <th scope="row"><a href="{% url 'modBodega' bodega.id %}"
                        class="btn btn-success btn-sm mb-2">Actualizar</a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}