{% extends '../layout.html' %}
{% block content %}
<div class="content-section">
    <a href="{% url 'add'%}" class="btn btn-success btn-sm mb-2">Añadir</a>
    <div class="col">
        <div class="card-body">
            <form method="get">
                {{filtro.form}}
                <button class="btn btn-primary btn-sm mb-2" type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hoved">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio ($)</th>
                <th scope="col">Stock</th>
                <th scope="col">Fecha de Insercion</th>
                <th scope="col">Fecha de Actualizacion</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Borrar</th>



            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
            <tr style="cursor:pointer;cursor: hand;" onclick="window.location=`{% url 'xProductView' inventory.id %}`">
                <th scope=" row">{{forloop.counter}}</th>
                <th scope="row">{{inventory.name}}</th>
                <th scope="row">{{inventory.price}}</th>
                <th scope="row">{{inventory.stock}}</th>
                <th scope="row">{{inventory.creationDate}}</th>
                <th scope="row">{{inventory.updateDate}}</th>
                <th><a href="{% url 'actualizar' inventory.id %}" class="btn btn-success btn-sm mb-2">Actualizar</a>
                </th>
                <th scope="row"><a href="{% url 'borrar' inventory.id %}" class="btn btn-danger btn-sm mb-2">Borrar</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}