{% extends '../layout.html' %}
{% block content %}
<div class="content-section ">
    <!-- modificar para bodegas -->
    <a href="{% url 'addInventario' %}" class="btn btn-success btn-sm mb-2">Añadir</a>

    <table class="table table-striped table-bordered table-hoved table-dark table-responsive"
        style="table-layout: fixed;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for in in inventario %}
            <tr style="cursor:pointer;cursor: hand;" onclick="window.location=`{% url 'historia' in %}`">
                <th scope="row">{{in}}</th>
                <th scope="row">{{in.count_inventory}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}